development:
  adapter: mysql2
  database: epfwiki_development
  host: localhost
  username: root
  password: 
  encoding: utf8  
  socket: /opt/lampp/var/mysql/mysql.sock

test:
  adapter: mysql2
  database: epfwiki_test
  host: localhost
  username: root
  password: 
  encoding: utf8  
  socket: /opt/lampp/var/mysql/mysql.sock

production:
  adapter: mysql2
  database: epfwiki
  host: localhost
  username: epfwiki
  password: ikiwpur
  encoding: utf8

