<% @heading = 'Change Password' %>
<%= error_messages_for @user %>

<% tabular_form_for :user do |f| %>
    <%= f.password_field :password, :size => 42 %>
    <%= f.password_field :password_confirmation, :size => 42 %>    
    <tr><th></th><td><%= submit_tag "Change password" %></td></tr>    
<% end %>
